.example-card {
  max-width: 31vw;
  margin: 0 auto;
  min-height: 68vh;
  
}

.example-header-image {
  background-size: cover;
}

.bottom-sheet-container {
  width: 50vw;
 }

.image{
  height: 40vh; /* adjust as needed */
  object-fit: cover;
}