.example-card {
  max-width: 28em;
  margin: 0 auto;
  min-height: 33em;
  background-color: accent;
  
}

.example-header-image {
  background-size: cover;
}

.bottom-sheet-container {
  width: 50vw;
 }

.image{
  height: 17em; /* adjust as needed */
  object-fit: cover;
}

p {
  min-height: 6em;
}

mat-card-subtitle {
  min-height: 2em;
}

